<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="loginForm">
    <ion-list>
        
          <ion-item>
            <ion-label>Username</ion-label>
            <ion-input type="text" formControlName="email"></ion-input>
            <label for="user_id" class="" [ngClass]="active">Enter User ID</label>
          </ion-item>
        
          <ion-item>
            <ion-label>Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
        
    </ion-list>
  </form>
        
    <div padding>
      <button ion-button full  [disabled]="!loginForm.valid"  (click)="authenticate()">Sign In</button>
    </div>
 
</ion-content>





