<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-buttons start left>
            <button ion-button menuToggle>
              <ion-icon name="menu"></ion-icon>
            </button>
          </ion-buttons>
      <ion-title>Profile</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-list>

        
            <ion-avatar item-start>
              <img src="/assets/imgs/dummy.png" height="100">
            </ion-avatar>
            <h2>Driver name</h2>
            <p>Join Date.</p>
         
        <ion-item>
          <ion-label fixed>Name</ion-label>
          <ion-input type="text" value=""></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label fixed>Email</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label fixed>Phone</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
      
      </ion-list>

      <div padding>
          <button ion-button  round color="danger" >Update</button>
        </div>

</ion-content>
