<!--
  Generated template for the TripsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-buttons start left>
            <button ion-button menuToggle>
              <ion-icon name="menu"></ion-icon>
            </button>
          </ion-buttons>
      <ion-title>Trips History</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-card>
       
        <ion-card-header>
          Truck #  Aus bandook 47 
         </ion-card-header>
      
        <ion-card-content>
            <ion-list>
              <label>Start date time:</label>
              <label>27 sep 2018 10:58 A:M</label>
            </ion-list>
            <ion-list>
                <label>Start Locations:</label>
                <label>123,some street</label>
            </ion-list>
            <ion-list>
                  <label>Destinations:</label>
                  <label>123,other street</label>
            </ion-list>
            <ion-list>
                  <label>Total miles:</label>
                  <label>124 miles</label>
            </ion-list>
            <ion-list>
                  <label>Estimated drive time:</label>
                  <label>12 hours</label>
            </ion-list>
            <button ion-button clear item-end small (click)="viewMore()">View more..</button>
        </ion-card-content>

        

        
        
      
      </ion-card>


      <ion-card>
       
          <ion-card-header>
            Truck #  Aus bandook 47 
           </ion-card-header>
        
          <ion-card-content>
              <ion-list>
                <label>Start date time:</label>
                <label>27 sep 2018 10:58 A:M</label>
              </ion-list>
              <ion-list>
                  <label>Start Locations:</label>
                  <label>123,some street</label>
              </ion-list>
              <ion-list>
                    <label>Destinations:</label>
                    <label>123,other street</label>
              </ion-list>
              <ion-list>
                    <label>Total miles:</label>
                    <label>124 miles</label>
              </ion-list>
              <ion-list>
                    <label>Estimated drive time:</label>
                    <label>12 hours</label>
              </ion-list>
              <button ion-button clear item-end small (click)="viewMore()">View more..</button>
          </ion-card-content>
  
          
  
          
          
        
        </ion-card>

        <ion-card>
       
            <ion-card-header>
              Truck #  Aus bandook 47 
             </ion-card-header>
          
            <ion-card-content>
                <ion-list>
                  <label>Start date time:</label>
                  <label>27 sep 2018 10:58 A:M</label>
                </ion-list>
                <ion-list>
                    <label>Start Locations:</label>
                    <label>123,some street</label>
                </ion-list>
                <ion-list>
                      <label>Destinations:</label>
                      <label>123,other street</label>
                </ion-list>
                <ion-list>
                      <label>Total miles:</label>
                      <label>124 miles</label>
                </ion-list>
                <ion-list>
                      <label>Estimated drive time:</label>
                      <label>12 hours</label>
                </ion-list>
                <button ion-button clear item-end small (click)="viewMore()">View more..</button>
            </ion-card-content>
    
            
    
            
            
          
          </ion-card>


          <ion-card>
       
              <ion-card-header>
                Truck #  Aus bandook 47 
               </ion-card-header>
            
              <ion-card-content>
                  <ion-list>
                    <label>Start date time:</label>
                    <label>27 sep 2018 10:58 A:M</label>
                  </ion-list>
                  <ion-list>
                      <label>Start Locations:</label>
                      <label>123,some street</label>
                  </ion-list>
                  <ion-list>
                        <label>Destinations:</label>
                        <label>123,other street</label>
                  </ion-list>
                  <ion-list>
                        <label>Total miles:</label>
                        <label>124 miles</label>
                  </ion-list>
                  <ion-list>
                        <label>Estimated drive time:</label>
                        <label>12 hours</label>
                  </ion-list>
                  <button ion-button clear item-end small (click)="viewMore()">View more..</button>
              </ion-card-content>
      
              
      
              
              
            
            </ion-card>


          

</ion-content>
