<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-buttons start left>
            <button ion-button menuToggle>
              <ion-icon name="menu"></ion-icon>
            </button>
          </ion-buttons>
      <ion-title>Home</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-item>
    <ion-label >Driver name</ion-label>
    </ion-item>

    <ion-card>
       
        <ion-card-header>
          Truck #  Aus bandook 47 
         </ion-card-header>
      
        <ion-card-content>
            <ion-list>
              <label>Start date time:</label>
              <label>27 sep 2018 10:58 A:M</label>
            </ion-list>
            <ion-list>
                <label>Start Locations:</label>
                <label>123,some street</label>
            </ion-list>
            <ion-list>
                  <label>Destinations:</label>
                  <label>123,other street</label>
            </ion-list>
            <ion-list>
                  <label>Total miles:</label>
                  <label>124 miles</label>
            </ion-list>
            <ion-list>
                  <label>Estimated drive time:</label>
                  <label>12 hours</label>
            </ion-list>
        </ion-card-content>

        <ion-row>
            <ion-col>
                <button ion-button round small (click)="showConfirm()">End Trip</button>
            </ion-col>
            <ion-col>
                <button ion-button round small>Add Note</button>
            </ion-col>
          </ion-row>
        <ion-row>   
            <ion-col>
                <button ion-button round small (click)="tripDetails()">Trip Details</button>
            </ion-col>
            <ion-col>
                <button ion-button round small>Add Photo</button>
            </ion-col>
          </ion-row> 
      
      </ion-card>

</ion-content>
