<!--
  Generated template for the InductionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-buttons start left>
            <button ion-button menuToggle>
              <ion-icon name="menu"></ion-icon>
            </button>
          </ion-buttons>
      <ion-title>Induction</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-card>

        <ion-card-header>
          About Us
        </ion-card-header>
      
        <ion-card-content>
            The British use the term "header", but the American term "head-shot" the English simply refuse to adopt.The British use the term "header", but the American term "head-shot" the English simply refuse to adopt.The British use the term "header", but the American term "head-shot" the English simply refuse to adopt.
        </ion-card-content>
      
      </ion-card>


      <ion-card>

          <ion-card-header>
            Contact Us
          </ion-card-header>
        
          <ion-card-content>
              <ion-item>
                  <ion-label fixed>Phone</ion-label>
                  <ion-label  >12324554545</ion-label>
                </ion-item>
                <ion-item>
                    <ion-label fixed>Email</ion-label>
                    <ion-label  >www.121.com</ion-label>
                  </ion-item>
          </ion-card-content>
        
        </ion-card>

</ion-content>
